.loader {
    margin: auto;
    border: 10px solid #EAF0F6;
    border-radius: 50%;
    border-top: 10px solid #323c71;
    width: 100px;
    height: 100px;
    animation: spinner 1s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



@media (max-width: 600px){
    .loader {
        margin: auto;
        border: 7px solid #EAF0F6;
        border-radius: 50%;
        border-top: 7px solid #323c71;
        width: 70px;
        height: 70px;
        animation: spinner 1s linear infinite;
      }
}

@media (min-height:1500px) {
    @media (max-width:1200px) {

        /*-------  NavBar ----------*/
        .NavBar {
            box-sizing: border-box;
            padding-left: 50px;
            padding-right: 30px;
        }

        .Logo {
            min-width: 200px;
        }

        .NavBarItemsContainer {
            width: 70%;
        }

        .NavBarItems {
            font-size: 2.5vw;
        }

        .BellIcon {
            width: 4.5vw;
            height: 4.5vw;
        }

        .Avatar {
            min-width: 8.5vw;
        }


        /*-------  NavBar ----------*/
        /*-------  DrawerItem ----------*/
        .DrawerItem {
            width: 100%;
            height: 8%;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .DrawerItemText {
            font-size: 3.5vw;
            margin-right: 10px;
        }

        .DrawerDesktop {
            width: 40vw;
            height: auto;
        }

        /*-------  DrawerItem ----------*/

        /*-------  Profile page ----------*/
        .firstSection {
            width: 100%;
            height: 25vh;
        }

        .FirstColumn {
            height: 25vh;
            width: 50%;

        }

        .LogoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 25%;

        }

        .ProfileAvatar {
            width: 25vw;
            height: 25vw;
        }

        .secondColumn {
            height: 23vh;
            width: 50%;

        }

        .TabsContainer {
            padding-top: 0;
        }

        .TabActive {
            font-size: 35px;
        }

        .Tab {
            font-size: 32px;
        }

        .singleTab {
            width: 100%;
            height: auto;
            place-items: start;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 2rem;
            column-gap: 2rem;
            padding-bottom: 0;
            overflow-y: scroll;
        }


        @media (max-height: 1700px) {
            .Content {
                height: 24%;
            }
        }

        .EditProfileBtn {
            min-width: 150px;
            height: 40px;
        }

        .EditProfileBtn span {
            font-size: 100%;
        }

        .Content {
            padding-bottom: 0;
            height: 65%;

        }

        .FollowerSection {
            margin-top: 10vh;
        }

        /*-------  Profile page ----------*/
        /*-------  Card component ----------*/
        .Card {
            width: 100%;
            height: 100%;
            max-height: 100%;
            max-height: 23vh;
            min-height: 23vh;
        }
        .Card:hover{
            transform: scale(1.05);
        }
        .CardTitle {
            font-size: 3vw;
            margin-top: 1vh;
        }

        .CardImg {
            min-height: 60%;
        }

        .CardDescription {
            font-size: 1.5vw;
        }

        /*-------  Card component ----------*/


        /*------- personal details page ----------*/
        .PersonalDetails {
            height: 100vh;
        }
        .heading {
            margin-left: 70px;
            font-size: 4.5vw;
            margin-top: 5vh;
        }

        .ImageContainer {
            z-index: -1;
        }
        .InputContainer {
            height: 100%;
            margin-bottom: 15vh;
            padding-top: 2vh;

        }
        .input, .input_bio {
            width: 80%;
            margin-top: 35px;

        }

        .input, .input_bio::placeholder {
            font-size: 24px;
            font-style: italic;
        }

        .input {
            min-height: 55px;
        }

        .input_bio {
            min-height: 135px;
        }

        .UpdateImageBtn {
            min-width: 15vw;
            min-height: 2vh;
            font-size: 100%;
        }

        .UpdateProfileBtn {
            font-weight: bolder;
            margin-left: 5px;
            min-width: 15vw;
            min-height: 2vh;
            font-size: 100%;

        }

        .footer {
            bottom: 0;
            z-index: 1;
            margin-top: 0;
        }

        /*------- personal details page ----------*/
        /*------- upload design page ----------*/
        .Container {
            padding-top: 10vh;
            scroll-padding-top: 10vh;
            height: 100vh;
        }

        .MainContainer {
            height: 100vh;
            overflow-y: scroll;
        }
        .PageContent {
            height: 100vh;
        }

        .heading_UploadDesign {
            font-size: 4vw;
        }

        .input_UploadDesign, .input_uploadDesign_bio {
            width: 85%;
            height: 8%;
        }

        .input_UploadDesign {
            min-height: 45px;
            max-height: 50px;
        }

        .input_uploadDesign_bio {
            min-height: 135px;
        }

        .input_UploadDesign, .input_uploadDesign_bio::placeholder {
            font-size: 24px;
            font-style: italic;
        }

        .UploadDesignText {
            font-size: 3vw;
            margin-top: 0.7vh;
            margin-bottom: 1vh;
        }

        .UploadFileBtnContainer {
            margin-top: 1vh;
            margin-bottom: 1vh;
        }

        .UploadImageFile {}

        .CompleteStatusContainer {
            margin-top: 3vh;
        }

        .UploadDesignPageBtn {}

        .UploadFileText {
            font-size: 2.5vw;
        }

        .UploadFileBtn {
            font-size: 90%;
            width: 20%;
            min-height: 50px;

        }

        /*------- upload design page ----------*/
        /*------- check box component ----------*/
        .checkboxText {
            font-size: 2.7vw;
        }

        .checkBox {
            min-height: 50px;
            min-width: 50px;
        }

        /*------- check box component ----------*/
        /*------- single challenge page ----------*/
        .Section1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 80vh;

        }

        .ChallengeName {
            font-size: 4vw;
            margin-top: -25%;
        }

        .AuthorContainer {
            margin-top: -15%;
        }

        .ProvidedItemsDetails {
            margin-top: -5vh;

        }

        .ChallengeImgContainer {
            height: 50%;
            width: 120%;
        }

        .ChallengeImgContainer img {
            height: 50%;
            width: 100%;
        }

        .IconRow {
            width: 100%;
            height: 5%;
        }

        .ChallengeDetails {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-top: -25%;
        }

        .VisitProfileBtn {
            min-height: 30px;
            max-height: 30px;
        }

        .ButtonsContainer {
            min-height: 10%;
        }

        /*------- single challenge page ----------*/
        /*------- Header Component ----------*/
        .Header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-top: 0vh;
            width: 100vw;
            height: 100vh;
        }

        .Header_First_col,.Header_Second_col {
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 0vh;
            width: 40%;
        }

        .Header_First_col img {
            height: 25%;
        }

        .Header_Second_col {
            margin-left: 5%;
        }
  

        .Header_Second_col img {
            height: 20%;
            order: 1;
        }
        .AuthorizeBtnImg {
            width: 10%;
            min-height: 20px;
           
        }
        .AuthorizeBtn {
            order: 3;
        }
        /*------- Header Component ----------*/
        /*------- index.js ----------*/
        .SiteDetails {
        }
        .image1 {
            width: 45%;
        }

        .image2 {
            width: 38%;
        }

        .image3 {
            width: 38%;
        }

        .image1Text {
            max-width: 100%;
        }

        .image2Text {
            max-width: 80%;
        }

        .image3Text {
            max-width: 80%;
        }

        /*------- index.js ----------*/
        /*------- Carousel ----------*/

        .Carousel {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            row-gap: 20px;
            column-gap: 20px;
        }

        /*------- Carousel ----------*/
        /*------- Design Card ----------*/

        .DesignCard {
            width: 100%;
            height: 100%;
            height: 100%;
            max-height: 20vh;
            min-height: 20vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .DesignCard:hover {
            transform: scale(1.1);
        }
        .DesignCard h1 {
            font-size: 3vw;
        }

        /*------- Design Card ----------*/

        /*------- Designs Page ----------*/
        .DesignCardContainer {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            row-gap: 20px;
            column-gap: 20px;
            place-items: flex-start;
            place-content: flex-start;
        }
        /*------- Designs Page ----------*/
        /*------- Challenges Page ----------*/

        .SmallHeader {
            height: 5vh;
        }
        .ChallengesContainer {
            display: grid;
            height: 70vh;
            grid-template-columns: repeat(3,1fr);
            row-gap: 20px;
            column-gap: 20px;
            place-items: start;
            place-content: start;
            align-content: center;
            justify-content: center;
        }
        /*------- Challenges Page ----------*/

    }
}


